body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: navy;
}
label {
    float: left;
    width: 10em;
    padding-right: 1em;
}
.content {
    width: 450px;
    border: blue;
    border-width: 2px;
    border-style: solid;
    margin-top: 0;
    margin: auto;
    padding: 15px;
}
text {
    width:15em;
    margin-bottom: 0.5em;
}
button {
    margin-bottom: 0.5em;
}