html, body, head {
    padding: 0;
    margin: 0;
    background-color: #282828;
    /*
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    */
    
    font-family: 'Libre Baskerville', serif;
    
    font-size: 95%;

    /*TOP NAV BAR STICKY */
    padding-top: 42px;
}

.container-main {
    width: 50%;
    min-width: 1200px;
    margin: auto;
    padding: 0;
    /*
    background-color: #28c5a1;
    background-image: linear-gradient(43deg, #28c5a1 0%, #d10c10 46%, #FFCC70 100%);
    */
    background-color: rgba(189, 140, 199, 0.247);
    color: white;
}

.page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.showcase-main {
    width: 35%;
    height: 100%; 
}

.page > .gallery {
    width: 65%;
    height: 100%; 
}

.title { 
    height: 50%;
    margin-top: 20%;
    text-align: center;
}

.gallery > #row {
    width:100%;
    display: flex;
    margin-top: 20px;
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.gallery > #row > button {
    width: 33.33%;
    max-height: 400px;
}

.gallery > #row > button > .column > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    height: 300px;
}

.showcase-main > h1 {
    margin-top: 20%;
}

.column {
    padding-bottom: 20px;
}

.container-fluid {
    max-width: 1200px;
}

.title > img { 
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .container-main {
        min-width:unset;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .page > .gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
    .gallery > #row > button {
        width: 25%;
        max-width: 300px;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    } 

    .gallery > #row > button > .column > img {
        object-fit: cover;
        height:320px;
    }
    .showcase-main {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .container-main {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .gallery > #row > button {
        padding: 0;
        margin: 0;
        width: 25%;
        max-width: 400px;
        min-width: 300px;
        margin-left: auto;
        margin-right: auto;
    } 
    .gallery > #row > button > .column > img {
        object-fit: cover;
        height:380px;
    } 
    
}

@media screen and (max-width: 600px) {
    .container-main {
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .gallery > #row > button {
        padding: 0;
        margin: 0;
        width: 50%;
        max-width: 500px;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
        max-height: unset;
    } 
    .gallery > #row > button > .column > img {
        object-fit: cover;
        width: 70%;
        height: auto;
    } 
    
}

@media screen and (max-width: 600px) {
    .gallery > #row > button {
        min-width: 200px;
    } 
}

@media screen and (max-width: 400px) {
    .gallery > #row > button {
        min-width: 150px;
    } 
}