body,html {
    width: 100%;
    height: 100%;
    background-image: url("../../images/Roshar.jpg");
    background-size: cover;
    overflow: hidden;
}
.logon {
    width: 100%;
    min-height: 1000px;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: black;
    width:350px;
}

.wrapper > form > .form-group > label {
    width: 100%;
}

.wrapper > form > .form-group > input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
