.book-information {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 20px;
}
#series  {
    width: 100%;
    display: flex;
}
#series > img {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.move-series {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 310px;
}
.book-header {
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    font-size: larger;
    color: white;
}
#book-title {
    height:20%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
}
#book-image {
    height:80%;
    width: 100%;
    text-align: center;
}

#book-image > #book-large-image{
    max-width: 300px;
}
button{
    color:white;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}
    
button:focus {
    outline:0;
}