.container {
    width: 50%;
    min-width: 1200px;
    margin: auto;
    /*
    background-color: #28c5a1;
    background-image: linear-gradient(43deg, #28c5a1 0%, #d10c10 46%, #FFCC70 100%);
    */
    background-color: rgba(223, 206, 206, 0.747);
    color: white;
}

.page {
    width: 100%;
    display: flex;
}

.showcase {
    width: 35%;
    height: 100%; 
}

.page > .gallery {
    width: 65%;
    height: 100%; 
}

.title { 
    height: 50%;
    margin-top: 20%;
    text-align: center;
}

.gallery > #row {
    width:100%;
    display: flex;
    margin-top: 20px;
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.gallery > #row > button {
    width: 33.33%;
    max-height: 400px;
}

.gallery > #row > button > .column > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
    height: 300px;
}

.showcase > h1 {
    margin-top: 20%;
}

.column {
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        min-width:unset;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .page > .gallery {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .gallery > #row > button {
        width: 25%;
        max-width: 300px;
        min-width: 250px;
        margin-left: auto;
        margin-right: auto;
    } 

    .gallery > #row > button > .column > img {
        object-fit: cover;
        height:320px;
    }
    .showcase {
        display: none;
    }
}