html, body, head {
    padding: 0;
    margin: 0;
    background-color: #282828;
    font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
    font-size: 95%;

    /*TOP NAV BAR STICKY */
    padding-top: 40px;
    
}

.nav {
    width: 100%;
    min-width: 1200px;
    margin: auto;
    min-height: 80px;
    background-color: rgba(77, 65, 65, 0.151);
    font-weight: bold;
    color: white;

    /*
    TOP NAV BAR STICKY 
    */
    position: fixed; 
    top: 0;
}
#nav-bar {
    width: 50%;
    min-width: 1200px;
    margin: auto;
    display: flex;
}

.logo {
    width: 30%;
}

.menu {
    width:60%;
}

.profile {
    width:10%;
    display: flex;
}

.move {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo-icon {
    float: left;
    width: 30%;
}

.logo > .logo-icon > a > img {
    max-height: 80px;
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > .move > button {
    width:15%;
    height: 100%;
    padding-right: 5%;
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 65, 65, 0.151);
    color:white;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

.profile > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color:white;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

.profile > .avatar > img {
    border-radius: 50%;
    height: 40px;
}

.profile > .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

a:visited {
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
    outline:0;
}
button:active {
    outline: none;
    border: none;
}
    
button:focus {
    outline:0;
}