.book-information {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 20px;
    padding-right: 10%;
}
#series  {
    width: 80%;
    display: flex;
    height: 100%;
    margin: auto;
}

.series > button {
    width:25%;
    padding-left: 15px;
    padding-right: 15px;
}

.page > .gallery-focus {
    width: 70%;
    height: 100%; 
}

.series > button > img {
    width: 100%;
    max-height:300px;
}
.move-series {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 310px;
}
.book-header {
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2%;
    width: 100%;
    font-size: larger;
    color: white;
}
#book-title {
    height:20%;
    width: 100%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
}
#book-image {
    height:80%;
    width: 100%;
    text-align: center;
}

#book-image > #book-large-image{
    max-width: 300px;
}

.showcase-focus {
    width: 30%;
    height: 100%; 
}
.showcase-main > h1 {
    margin-top: 20%;
}

button{
    color:white;
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

button:focus {
    outline:0;   
}

#delete {
    color: black;
    background-color: grey;
    min-width: 30%;
}

#edit {
    color: black;
    background-color: grey;
    min-width: 30%;
}

.showcase-focus > .card{
    width: 80%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}


@media screen and (max-width: 1200px) {
    .showcase-focus {
        width: 35%;
    }
    .page > .gallery-focus {
        width: 60%;
    }
    .showcase > .card {
        width: 100%;
    }
    .series > button {
        width:20%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .showcase > .card > img {
        width: 100%;
    }
    .series {
        margin-top: 20px;
    }
    .move-series {
        min-height: unset;
        height: auto;
    }
    #series {
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
    .gallery-focus {
        min-width: 400px;
    }
    .book-information {
        width: 100%;
        padding-right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 620px) {
    .showcase-focus {
        width: 60%;
        margin: auto;
    }
    .page > .gallery-focus {
        text-align: center;
        width: 100%;
    }
}